@charset "UTF-8";
.header {
  position: fixed;
  z-index: 5;
  min-width: 320px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}
.header__name {
  font-weight: 700;
  font-size: 32px;
  color: #222;
}
.header__menu-btn {
  height: 25px;
  width: 25px;
}
.header__menu-btn img {
  cursor: pointer;
}
.header__menu-btn--hide {
  display: none;
}
.header__navbar {
  position: fixed;
  top: 100px;
  right: 20px;
  background-color: white;
  border-radius: 8px;
  width: 200px;
  padding: 10px 15px;
}
.header__navbar--hide {
  display: none;
}
.header__navbar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.header__navbar__item {
  padding: 10px 15px;
  margin: 2px 0;
  color: black;
  font-weight: 600;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}
.header__navbar__item:hover {
  background-color: rgb(59, 130, 246);
  color: white;
}
.header__navbar__item--active {
  background-color: rgb(59, 130, 246);
  color: white;
}

@media only screen and (min-width: 1000px) {
  .header {
    padding: 10px 30px;
  }
  .header__menu-btn {
    display: none;
  }
  .header__navbar {
    position: static;
    background-color: transparent;
    border-radius: none;
    width: fit-content;
  }
  .header__navbar ul {
    align-items: center;
    flex-direction: row;
  }
  .header__navbar__item {
    margin: 0 10px;
  }
  .header__navbar--hide {
    display: block;
  }
}
.hero {
  background: url("../img/bg-hero.png") center/cover;
  width: 100%;
  min-height: 100vh;
  padding: 0 10px;
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero__title {
  font-size: 45px;
  color: #222;
  font-weight: 900;
  text-align: center;
  margin-top: 30px;
}
.hero__subtitle {
  font-size: 40px;
  color: rgb(59, 130, 246);
  font-weight: 900;
  text-align: center;
  margin-bottom: 30px;
}
.hero__text {
  font-size: 18px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 25px;
}
.hero__text span {
  font-weight: 700;
}
.hero__contact {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.hero__contact a {
  text-decoration: none;
  margin: 0 5px;
}
.hero__btn-wrapper {
  text-align: center;
  margin-bottom: 40px;
}
.hero__btn-wrapper__btn {
  color: white;
  text-decoration: none;
  font-weight: 700;
  background-color: rgb(59, 130, 246);
  border-radius: 8px;
  font-size: 18px;
  padding: 15px 60px;
  display: inline-block;
}
.hero__image {
  width: 70%;
  min-width: 320px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 1000px) {
  .hero {
    flex-direction: row;
    border-bottom: 1px solid black;
  }
  .hero__presentation {
    max-width: 800px;
  }
  .hero__title {
    font-size: 50px;
  }
  .hero__subtitle {
    font-size: 45px;
  }
  .hero__text {
    font-size: 20px;
  }
  .hero__image {
    width: 45%;
  }
}
.section {
  padding: 10px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section__title {
  text-align: center;
  font-size: 40px;
  color: #222;
  margin-bottom: 20px;
}
.section__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section__image-animated {
  background: url("../img/profile-pic.jpg") center/cover;
  border-radius: 50%;
  margin-top: 20px;
  width: 300px;
  height: 300px;
  border: 4px solid rgb(59, 130, 246);
  margin-bottom: 40px;
}
.section__text {
  padding: 0 20px;
}
.section__text__title {
  font-size: 26px;
  color: rgb(59, 130, 246);
  margin-bottom: 5px;
}
.section__text__plain {
  text-align: justify;
  font-size: 17px;
}
.section__text__plain span {
  display: block;
  margin: 12px 0;
}
.section__flex-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.section__flex-icons img {
  width: 70px;
  height: 70px;
  margin: 20px;
}
.section__card {
  background-color: white;
  border-radius: 8px;
  margin: 30px 0;
  margin-bottom: 40px;
  box-shadow: 0px 5px 8px rgba(17, 17, 17, 0.25);
  max-width: 400px;
  width: 100%;
  height: 550px;
}
.section__card__slider {
  width: 100%;
  max-width: 400px;
  border-radius: 8px 8px 0 0;
  height: 50%;
}
.section__card__slider__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: rgb(59, 130, 246);
  width: 30px;
  height: 30px;
  z-index: 3;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__card__slider__btn::after {
  color: white;
  font-weight: 700;
  margin-bottom: 2px;
}
.section__card__slider__prev {
  left: 10px;
}
.section__card__slider__prev::after {
  content: "⮜";
  margin-right: 2px;
}
.section__card__slider__next {
  right: 10px;
}
.section__card__slider__next::after {
  content: "⮞";
  margin-left: 2px;
}
.section__card__slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section__card__content {
  padding: 20px;
  border-top: 1px solid black;
  text-align: center;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.section__card__title {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-bottom: 15px;
  text-decoration: underline;
}
.section__card__description {
  line-height: 1.8;
}
.section__card__btn {
  color: white;
  text-decoration: none;
  font-weight: 700;
  background-color: rgb(59, 130, 246);
  border-radius: 8px;
  font-size: 18px;
  padding: 15px 60px;
  display: inline-block;
  width: fit-content;
}
.section__anchor {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 100px;
}
.section__anchor a {
  text-decoration: none;
  position: relative;
  color: black;
  padding-bottom: 3px;
}
.section__anchor a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}
.section__anchor a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media only screen and (min-width: 1000px) {
  .section {
    margin-top: 50px;
  }
  .section__title {
    margin-bottom: 50px;
  }
  .section__flex {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .section__text {
    display: inline-block;
    line-height: 1.9;
    max-width: 1200px;
  }
  .section__aboutme {
    flex-basis: 40%;
  }
  .section__image-animated-wrapper {
    flex-basis: 45%;
    display: flex;
    justify-content: flex-end;
  }
  .section__image-animated {
    margin: 0;
    margin-right: 100px;
  }
  .section__flex-icons {
    max-width: 1100px;
    margin-bottom: 20px;
  }
  .section__flex-icons img {
    height: 100px;
    width: 100px;
    margin: 25px;
  }
  .section__card {
    margin: 30px;
  }
}
@media only screen and (max-width: 450px) {
  .section__card {
    width: 300px;
  }
  .section__card__btn {
    font-size: 16px;
  }
}
.footer {
  padding: 30px;
  background-color: #fff;
  text-align: center;
}
.footer__title {
  font-size: 30px;
  color: #222;
  margin-bottom: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", sans-serif;
}

h1, h2, h3 {
  font-family: "Noto Sans", sans-serif;
}

body {
  min-width: 320px;
  background-color: #e8fbff;
}

input {
  outline: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.flex-center:last-child {
  margin-bottom: 0;
}
.flex-center *:first-child {
  margin-right: 10px;
}

@media only screen and (min-width: 1000px) {
  .flex-center {
    margin: 0 50px;
  }
}
:root {
  --swiper-theme-color: #3482F6 !important;
}

/*# sourceMappingURL=styles.css.map */
