$primary-color: rgb(59 130 246);
$secondary-color: #222;
$light-color: #e8fbff;

@mixin largeScreen {
  @media only screen and (min-width: 1000px) {
    @content;
  }
}

@mixin defaultBtn {
  color: white;
  text-decoration: none;
  font-weight: 700;
  background-color: $primary-color;
  border-radius: 8px;
  font-size: 18px;
  padding: 15px 60px;
  display: inline-block;
}