@import 'layout/header';
@import 'layout/hero';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

body {
  min-width: 320px;
  background-color: #e8fbff;
}

input {
  outline: none;
}