@import 'layout/header';
@import 'layout/hero';
@import 'layout/section';
@import 'layout/footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Mono', sans-serif;
}

h1, h2, h3 {
  font-family: 'Noto Sans', sans-serif;
}

body {
  min-width: 320px;
  background-color: #e8fbff;
}

input {
  outline: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
  
  *:first-child {
    margin-right: 10px;
  }
}

:root {
  --swiper-theme-color: #3482F6 !important;
}