@import '../globals';

.header {
  position: fixed;
  z-index: 5;
  min-width: 320px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  box-shadow: 0 6px 8px rgba($color: #000000, $alpha: .1);
  padding: 10px 20px;

  &__name {
    font-weight: 700;
    font-size: 32px;
    color: $secondary-color;
  }

  &__menu-btn {
    height: 25px;
    width: 25px;
    
    img {
      cursor: pointer;
    }
    &--hide {
      display: none;
    }
  }

  &__navbar {
    position: fixed;
    top: 100px;
    right: 20px;
    background-color: white;
    border-radius: 8px;
    width: 200px;
    padding: 10px 15px;

    &--hide {
      display: none;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
    }
    &__item {
      padding: 10px 15px;
      margin: 2px 0;
      color: black;
      font-weight: 600;
      cursor: pointer;
      border-radius: 8px;
      transition: all .2s ease-in-out;

      &:hover {
        background-color: $primary-color;
        color: white;
      }

      &--active {
        background-color: $primary-color;
        color: white;
      }
    }
  }
}

@include largeScreen {
  .header {
    &__menu-btn {
      display: none;
    }
  }
}