@import '../globals';

.hero {
  background: url('../../img/bg-hero.png') center / cover;
  width: 100%;
  min-height: 100vh;
  padding: 0 10px;
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__title {
    font-size: 45px;
    color: $secondary-color;
    font-weight: 900;
    text-align: center;
    margin-top: 30px;
  }

  &__subtitle {
    font-size: 40px;
    color: $primary-color;
    font-weight: 900;
    text-align: center;
    margin-bottom: 30px;
  }

  &__text {
    font-size: 18px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 25px;

    span {
      font-weight: 700;
    }
  }

  &__contact {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    
    a {
      text-decoration: none;
      margin: 0 5px;
    }
  }

  &__btn-wrapper {
    text-align: center;
    margin-bottom: 40px;
    &__btn {
      color: white;
      text-decoration: none;
      font-weight: 700;
      background-color: $primary-color;
      border-radius: 8px;
      font-size: 18px;
      padding: 15px 60px;
    }
  }

  &__image {
    width: 70%;
    min-width: 320px;
    margin-bottom: 40px;
  }
}