@import '../globals';

.section {
  padding: 10px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__title {
    text-align: center;
    font-size: 40px;
    color: $secondary-color;
    margin-bottom: 20px;
  }

  &__flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__image-animated {
    background: url('../img/profile-pic.jpg') center / cover;
    border-radius: 50%;
    margin-top: 20px;
    width: 300px;
    height: 300px;
    border: 3px solid $primary-color;
    box-shadow: 0px 5px 8px rgba(17, 17, 17, 0.25);
    margin-bottom: 40px;
  }

  &__text {
    padding: 0 20px;
    line-height: 1.5;
    
    &__title {
      font-size: 26px;
      color: $primary-color;
      margin-bottom: 5px;
    }

    &__plain {
      text-align: justify;
      font-size: 17px;
      span {
        display: block;
        margin: 12px 0;
      }
    }
  }

  &__flex-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    img {
      width: 70px;
      height: 70px;
      margin: 20px;
    }
  }

  &__icon-box {
    text-align: center;
    margin-bottom: 30px;
    max-width: 800px;
  }

  &__card {
    background-color: white;
    border-radius: 8px;
    margin: 30px 0;
    margin-bottom: 40px;
    box-shadow: 0px 5px 8px rgba($color: #111, $alpha: .25);
    max-width: 400px;
    width: 100%;
    height: 550px;
    
    &__slider {
      width: 100%;
      max-width: 400px;
      border-radius: 8px 8px 0 0;
      height: 50%;

      &__btn {
        position: absolute;
        color: white;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        background-color: $primary-color;
        width: 30px;
        height: 30px;
        z-index: 3;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &__prev {
        left: 10px;
      }
      &__next {
        right: 10px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__content {
      padding: 20px;
      border-top: 1px solid black;
      text-align: center;
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    &__title {
      font-weight: 700;
      font-size: 24px;
      text-align: center;
      margin-bottom: 15px;
      text-decoration: underline;
    }

    &__description {
      line-height: 1.8;
    }

    &__btn {
      @include defaultBtn;
      width: fit-content;
    }
  }

  &__anchor {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
    a {
      text-decoration: none;
      position: relative;
      color: black;
      padding-bottom: 3px;
    }

    a::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: black;
      transform-origin: bottom right;
      transition: transform 0.4s ease-out;
    }
    
    a:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}

@include largeScreen {
  .section {
    margin-top: 50px;

    &__title {
      margin-bottom: 30px;
    }
    
    &__flex {
      flex-direction: row;
      flex-wrap: wrap;

      &__order-1 {
        order: 1;
      }
      &__order-2 {
        order: 2;
      }
    }

    &__text {
      display: inline-block;
      line-height: 1.9;
      max-width: 1200px;
    }

    &__aboutme {
      flex-basis: 37%;
    }

    &__image-animated-wrapper {
      margin-left: 80px;
      display: flex;
      justify-content: flex-end;
    }

    &__image-animated {
      margin: 0;
      margin-right: 100px;
      width: 350px;
      height: 350px;
    }

    &__flex-icons {
      max-width: 1100px;
      margin-bottom: 20px;

      img {
        height: 100px;
        width: 100px;
        margin: 25px;
      }
    }

    &__card {
      margin: 30px;
    }
  }
}

@media only screen and (max-width: 450px) {
  .section {
    &__card {
      width: 300px;
      &__btn {
        font-size: 16px;
      }
    }

    &__anchor {
      font-size: 13px;
    }
  }
}